*.class
*.log
.make

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.bsp/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/

# macOS specific
.DS_Store

# MATLAB specific
*.mex*

# Rust specific
Cargo.lock

# Python specific
python/.eggs
