version: 2
jobs:
  build_linux:
    machine: true
    steps:
      - checkout

      - run:
          name: Build testing docker container
          command: |
            docker build -f python/Dockerfile -t testing .

      - run:
          name: Install python modules
          command: |
            docker run \
              -v$(pwd):/app \
              -w/app/python \
              testing \
              bash -c "
                \$PYBIN/python setup.py install
                \$PYBIN/python setup.py bdist_wheel -p manylinux1_x86_64"

      - run:
          name: Run python tests
          command: |
            docker run \
              -v$(pwd):/app \
              -w/app/python \
              testing \
              bash -c "\$PYBIN/pytest tests"

      - run:
          name: Check formatting
          command: |
            docker run \
              -v$(pwd):/app \
              -w/app/python \
              testing \
              bash -c "\$PYBIN/black --check ."

      - run:
          name: Try to import on different python versions
          command: |
            docker run \
              -v$(pwd):/app \
              testing \
              bash -c "
                for PYBIN in /opt/python/{cp34-cp34m,cp35-cp35m,cp36-cp36m,cp37-cp37m}/bin; do
                  \$PYBIN/pip install /app/python/dist/wkw-*-py3-none-manylinux1_x86_64.whl
                  \$PYBIN/python -c 'import wkw; print(wkw.Dataset)'
                done"

      - run:
          name: Build and publish python package
          command: |
            if [ -n "$CIRCLE_TAG" ] && [[ "$CIRCLE_TAG" == python-v* ]]; then
              echo "[distutils]" >> .pypirc
              echo "index-servers = pypi" >> .pypirc
              echo "[pypi]" >> .pypirc
              echo "repository=https://upload.pypi.org/legacy/" >> .pypirc
              echo "username=$PYPI_USERNAME" >> .pypirc
              echo "password=$PYPI_PASSWORD" >> .pypirc

              docker run \
                -v$(pwd):/app \
                -v$(pwd)/.pypirc:/root/.pypirc \
                -w/app/python \
                testing \
                bash -c "\$PYBIN/python setup.py bdist_wheel -p manylinux1_x86_64 upload -r pypi"
            fi

  build_macos:
    macos:
      xcode: "9.0"
    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            brew install rustup-init lz4
            rustup-init -y
            brew upgrade python
            pip3 install pytest

      - run:
          name: Install python modules
          command: |
            cd python
            export PATH=$PATH:$HOME/.cargo/bin
            python3 setup.py install

      - run:
          name: Run python tests
          command: |
            cd python
            export PATH=$PATH:$HOME/.cargo/bin
            pytest tests

      - run:
          name: Build and publish python package
          command: |
            if [ -n "$CIRCLE_TAG" ] && [[ "$CIRCLE_TAG" == python-v* ]]; then
              echo "[distutils]" >> $HOME/.pypirc
              echo "index-servers = pypi" >> $HOME/.pypirc
              echo "[pypi]" >> $HOME/.pypirc
              echo "repository=https://upload.pypi.org/legacy/" >> $HOME/.pypirc
              echo "username=$PYPI_USERNAME" >> $HOME/.pypirc
              echo "password=$PYPI_PASSWORD" >> $HOME/.pypirc

              cd python
              export PATH=$PATH:$HOME/.cargo/bin
              python3 setup.py bdist_wheel -p $(python3 -c "import distutils.util; print(distutils.util.get_platform())") upload
            fi

workflows:
  version: 2
  circleci_build:
    jobs:
      - build_linux:
          filters:
            tags:
              only: /.*/
      - build_macos:
          filters:
            tags:
              only: /.*/
