name: Build Python module

on: [push]

jobs:
  build_lin:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
    - name: Build testing docker container
      run: |
        docker build -f python/Dockerfile -t testing .
    - name: Build
      run: |
        docker run \
          -v$(pwd):/app \
          -w/app/python \
          testing \
          bash -c "
            \$PYBIN/python setup.py install
            \$PYBIN/python setup.py bdist_wheel -p manylinux1_x86_64"
    - name: Test
      run: |
        docker run \
          -v$(pwd):/app \
          -w/app/python \
          testing \
          bash -c "\$PYBIN/pytest tests"
    - name: Check formatting
      run: |
        docker run \
          -v$(pwd):/app \
          -w/app/python \
          testing \
          bash -c "\$PYBIN/black --check ."
    - name: Try to import on different python versions
      run: |
        docker run \
          -v$(pwd):/app \
          testing \
          bash -c "
            for PYBIN in /opt/python/{cp34-cp34m,cp35-cp35m,cp36-cp36m,cp37-cp37m}/bin; do
              \$PYBIN/pip install /app/python/dist/wkw-*-py3-none-manylinux1_x86_64.whl
              \$PYBIN/python -c 'import wkw; print(wkw.Dataset)'
            done"
    - name: Publish
      if: startsWith(github.event.ref, 'refs/tags')
      run: | 
         docker run \
           -v$(pwd):/app \
           -v$(pwd)/.pypirc:/root/.pypirc \
           "-eTWINE_USERNAME=${{ secrets.PYPI_USERNAME }}" \
           "-eTWINE_PASSWORD=${{ secrets.PYPI_PASSWORD }}" \
           -w/app/python \
           testing \
           bash -c "\$PYBIN/python setup.py sdist bdist_wheel -p manylinux1_x86_64 && \$PYBIN/twine upload dist/*.whl dist/*.tar.gz"

  build_mac:
    runs-on: macOS-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7]
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: 'x64' # (x64 or x86)
    - name: Install Rust and lz4
      run: |
        brew install rustup-init lz4
        rustup-init -y
    - name: Build
      run: |
        cd python
        export PATH=$PATH:$HOME/.cargo/bin
        python setup.py install
    - name: Test
      run: |
        cd python
        python -c "import wkw"
        pip install pytest
        pytest tests
    - name: Publish
      if: startsWith(github.event.ref, 'refs/tags')
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        pip install twine wheel
        cd python
        export PATH=$PATH:$HOME/.cargo/bin
        python setup.py sdist bdist_wheel -p $(python -c "import distutils.util; print(distutils.util.get_platform())") --python-tag py${{ matrix.python-version }}
        twine upload dist/*.whl

  build_win:
    runs-on: windows-2019
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7]
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: 'x64' # (x64 or x86)
    - name: Install lz4
      shell: bash
      run: |
        mkdir lz4
        cd lz4
        curl -L https://github.com/lz4/lz4/releases/download/v1.8.2/lz4_v1_8_2_win64.zip -o lz4_v1_8_2_win64.zip
        unzip lz4_v1_8_2_win64.zip
        mv dll/liblz4.so.1.8.2.dll ../c/liblz4.dll
        mv dll/liblz4.lib ../c/liblz4.lib
    - name: Build
      shell: bash
      run: |
        cd python
        python setup.py install
    - name: Test
      shell: bash
      run: |
        cd python
        python -c "import wkw"
        pip install pytest
        pytest tests -k "not big_read"
    - name: Test (non-bash)
      run: |
        cd python
        python -c "import wkw"
        pytest tests -k "not big_read"
    - name: Publish
      shell: bash
      if: startsWith(github.event.ref, 'refs/tags')
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        pip install twine wheel
        cd python
        python setup.py sdist bdist_wheel -p $(python -c "import distutils.util; print(distutils.util.get_platform())") --python-tag py${{ matrix.python-version }}
        twine upload dist/*.whl
